<a href="https://colab.research.google.com/github/Pranav210905/Inferial-Stastics/blob/main/Hypothesis_Testing(T_Test).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T test Assignment

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm
from scipy.stats import t

---
---
**1. A nutritionist claims that the average calorie content in a brand of snack bars is 120 calories. To test this claim, a random sample of 10 snack bars is selected, and their calorie content is measured. The sample has a mean calorie content of 125 and a standard deviation of 10 calories. Conduct a one-sample t-test to determine if there is a significant difference between the sample mean and the claimed mean. Use a significance level of 0.05.**

In [ ]:
# Calculating t score (One sample test)
def t_score(sample_size, sample_mean, pop_mean, sample_std):
    std_error = sample_std / sample_size ** 0.5
    t = abs((sample_mean - pop_mean) / std_error)
    return t

H0:The average calorie in snackBar is 120cal

H1:The average calorie in snake is greater than 120

In [ ]:
pop_mean=120
sample_mean=125
sample_size=10
sample_std=10
df=sample_size-1
#write your code here
print('Sample Size : ', sample_size)
print('Sample Mean : ', sample_mean)
print('Sample STD  : ', sample_std)
print('Degrees of freedom : ', df)

Sample Size :  10
Sample Mean :  125
Sample STD  :  10
Degrees of freedom :  9

In [ ]:
# Calculate t score
t_value=t_score(sample_size,sample_mean,pop_mean,sample_std)
t_value

1.5811388300841898

In [ ]:
# calculating critical t value
alpha=0.05
t_critical=abs(t.ppf(alpha,df))

In [ ]:
# Conclusion
if t_value > t_critical:
    print('We have sufficient evidence to reject null hypothesis.')
else:
    print('We fail to reject null hypothesis')

We fail to reject null hypothesis

---
---
**2. A company wants to compare the productivity of two teams. Team A (n = 12) has a mean productivity score of 90 with a standard deviation of 5. Team B (n = 15) has a mean productivity score of 80 with a standard deviation of 6. Assume equal variances and conduct an independent two-sample t-test at a significance level of 0.01.**

In [ ]:
# Calculating t score (Independent samples t test)
def t_score(sample1_size, sample1_mean, sample1_std, sample2_size, sample2_mean, sample2_std):
    temp = (sample1_std**2/sample1_size + sample2_std**2/sample2_size)**0.5
    t = abs((sample1_mean - sample2_mean) / temp)
    return t

In [ ]:
# write your code here
sample1_size=12
sample2_size=15
df=sample1_size+sample2_size-2
sample1_mean=90
sample2_mean=80
sample1_std=5
sample2_std=6

print('Sample1 Size : ', sample1_size)
print('Sample1 Mean : ', sample1_mean)
print('Sample1 STD  : ', sample1_std)
print('Sample2 Size : ', sample2_size)
print('Sample2 Mean : ', sample2_mean)
print('Sample2 STD  : ', sample2_std)
print('Degrees of freedom : ', df)

Sample1 Size :  12
Sample1 Mean :  90
Sample1 STD  :  5
Sample2 Size :  15
Sample2 Mean :  80
Sample2 STD  :  6
Degrees of freedom :  25

In [ ]:
# calculate t value
t_value=t_score(sample1_size, sample1_mean, sample1_std, sample2_size, sample2_mean, sample2_std)
t_value

4.722799245548623

In [ ]:
# Critical t value
alpha=0.01/2
t_critical=abs(t.ppf(alpha,df))

In [ ]:
# Conclusion
if t_value > t_critical:
    print('We have sufficient evidence to reject null hypothesis.')
else:
    print('We fail to reject null hypothesis')

We have sufficient evidence to reject null hypothesis.

---
---
**3. A researcher believes that a new drug has an effect on reducing cholesterol levels. The average cholesterol level in the population is 200 mg/dL. A sample of 15 patients who took the drug shows an average cholesterol level of 190 mg/dL with a standard deviation of 15 mg/dL. Conduct a one-sample t-test to determine if there is a significant reduction in cholesterol levels. Use a significance level of 0.01.**

In [ ]:
# Calculating t score (One sample test)
def t_score(sample_size, sample_mean, pop_mean, sample_std):
    std_error = sample_std / sample_size ** 0.5
    t = abs((sample_mean - pop_mean) / std_error)
    return t

In [ ]:
# write your code here
sample_size=15
df=sample_size-1
pop_mean=200
sample_mean=190
sample_std=15

print('Sample Size : ', sample_size)
print('Sample Mean : ', sample_mean)
print('Sample STD  : ', sample_std)
print('Degrees of freedom : ', df)

Sample Size :  15
Sample Mean :  190
Sample STD  :  15
Degrees of freedom :  14

In [ ]:
# Calculate t score
t_value=t_score(sample_size, sample_mean, pop_mean, sample_std)
t_value

2.5819888974716116

In [ ]:
# calculating critical t value
alpha=0.01
t_critical=abs(t.ppf(alpha,df))
t_critical

2.6244940675602315

In [ ]:
# Conclusion
if t_value > t_critical:
    print('We have sufficient evidence to reject null hypothesis.')
else:
    print('We fail to reject null hypothesis')

We fail to reject null hypothesis

---
---
**4. A researcher wants to know if a new teaching method improves test scores. A class of 10 students takes a test before and after using the new method. The test scores before and after the method are as follows:**

**Before: 70, 65, 80, 75, 85, 90, 60, 55, 70, 75 <br>
After: 75, 68, 82, 78, 88, 95, 62, 58, 80, 68 <br>
Conduct a paired t-test to determine if there is a significant improvement in test scores. Use a significance level of 0.05.**

In [ ]:
def t_score(sample1, sample2):
    differences = sample2 - sample1
    mean_differences = differences.mean()
    std_differences = differences.std()
    t = mean_differences / (std_differences / len(sample1) ** 0.5)
    return t

In [ ]:
before = np.array([70, 65, 80, 75, 85, 90, 60, 55, 70, 75])
after  = np.array([75, 68, 82, 78, 88, 95, 62, 58, 80, 68])

In [ ]:
sample_size = len(before)
df = sample_size - 1
print('Degrees of freedom : ', df)

Degrees of freedom :  9

In [ ]:
# Calculate t score
t_value=t_score(before, after)
t_value

2.3005731630487136

In [ ]:
# calculating critical t value
alpha=0.05
t_critical=abs(t.ppf(alpha,df))
t_

1.8331129326536337

In [ ]:
# Conclusion
if t_value > t_critical:
    print('We have sufficient evidence to reject null hypothesis.')
else:
    print('We fail to reject null hypothesis')

We have sufficient evidence to reject null hypothesis.

---
---
**5. A scientist measures the concentration of a chemical in 6 different water samples from a lake and obtains the following concentrations (in mg/L): 3.5, 3.8, 4.0, 3.9, 4.1, and 4.3. Test whether the mean concentration is significantly different from 4 mg/L at a 0.05 significance level.**

In [ ]:
# Calculating t score (One sample test)
def t_score(sample_size, sample_mean, pop_mean, sample_std):
    std_error = sample_std / sample_size ** 0.5
    t = abs((sample_mean - pop_mean) / std_error)
    return t

In [ ]:
sample = np.array([3.5, 3.8, 4.0, 3.9, 4.1,4.3])

In [ ]:
# write your code here
sample1_size=len(sample)
df=sample_size-1
sample_mean=sample.mean()
sample_std=sample.std()
print('Sample Size : ', sample_size)
print('Sample Mean : ', sample_mean)
print('Sample STD  : ', sample_std)
print('Degrees of freedom : ', df)

Sample Size :  6
Sample Mean :  3.9333333333333336
Sample STD  :  0.24944382578492938
Degrees of freedom :  5

In [ ]:
# Calculate t score
t_value= t_score(sample_size, sample_mean, pop_mean, sample_std)
t_value

1925.336445552161

In [ ]:
# calculating critical t value
# calculating critical t value
alpha=0.05
t_critical=abs(t.ppf(alpha,df))
t_critical

2.0150483733330233

In [ ]:
# Conclusion
if t_value > t_critical:
    print('We have sufficient evidence to reject null hypothesis.')
else:
    print('We fail to reject null hypothesis')

We have sufficient evidence to reject null hypothesis.

# End!