<a href="https://colab.research.google.com/github/Pranav210905/Inferial-Stastics/blob/main/Hypothesis_Testing(Z_test).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Z-Test Assignment

In [1]:

  # Run this code cell
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import norm

In [2]:
# Calculating Z score
def z_score(sample_size, sample_mean, pop_mean, pop_std):
    std_error = pop_std / sample_size ** 0.5
    z = (sample_mean - pop_mean) / std_error
    return z

**For each problem assume the significance level to be 0.05 unless specified**

---
---
**1. The average weight of students in an undergraduate college was reported to be 66kg with a standard deviation of 15.To verify this claim 100 students were selected at random, their weights are given below. Verify whether the average weight is more than the reported average.**

In [3]:
sample = [69, 75, 79, 50, 57, 50, 57, 87, 73, 61, 71, 75, 77, 64, 54, 67, 76,
          74, 58, 66, 52, 58, 83, 57, 51, 86, 85, 81, 77, 54, 75, 61, 62, 64,
          81, 71, 75, 52, 73, 75, 67, 89, 53, 59, 83, 57, 70, 84, 57, 71, 60,
          81, 66, 63, 54, 61, 72, 60, 61, 71, 74, 79, 61, 65, 79, 83, 59, 66,
          85, 89, 74, 80, 56, 70, 58, 81, 84, 76, 89, 82, 72, 72, 87, 67, 85,
          73, 76, 65, 86, 64, 84, 56, 65, 76, 53, 84, 59, 89, 89, 56]

**H0 :** The average weight is 66 kg. <br>
**H1 :** The average weight is more than 66 kg.

In [4]:
sample = np.array(sample)

In [7]:
#Write your code here
# calculate sample mean and sample size
pop_mean1=66
pop_std1=15
sample_size1=len(sample)
sample_mean1=sample.mean()
print(sample_size1)
print(sample_mean1)

100
70.0

In [8]:
# Calculate z score
z1=z_score(sample_size1,sample_mean1,pop_mean1,pop_std1)
print(z1)

2.6666666666666665

In [15]:
# Upper tailed test (right tailed test)
# calculating p value
e=norm.cdf(z1)
p_value=1-e

In [16]:
# Conclusion
alpha = 0.05
if p_value < alpha:
    print('We have sufficient evidence to reject null hypothesis.')
else:
    print('We fail to reject null hypothesis')

We have sufficient evidence to reject null hypothesis.

---
---
**2. A basketball analyst claims that the average team points per game for Chicago Bulls are 108 with a standard standard deviation of 15. You doubt that the average team points are less than 108 and take a sample of scores from 50 matches. Form the hypotheses and test the claim made by the basketball analyst.**

In [17]:
sample = [117,  99, 128,  81, 104, 102, 123,  90, 102, 128, 100, 110, 114,
          122, 115, 127,  88, 113,  90, 111,  95, 116,  90,  82,  98,  90,
          112, 123, 108, 120, 126, 120,  83, 121,  81,  98, 108,  84, 111,
          110, 102, 114, 121,  80, 104,  82,  83, 104, 112, 114]

**H0 :** The average points are 108. <br>
**H1 :** The average points are less than 108.

In [18]:
sample = np.array(sample)

In [19]:
# Write your code
pop_mean1=108
pop_std1=15
sample_size1=len(sample)
sample_mean1=sample.mean()
print(sample_size1)
print(sample_mean1)

50
105.12

In [20]:
# Calculate z score
z1=z_score(sample_size1,sample_mean1,pop_mean1,pop_std1)
print(z1)

-1.3576450198781693

In [22]:
# lower tailed test (left tailed test)
# calculating p value
p_value=norm.cdf(z1)
p_value

0.08728817517809112

In [23]:
# Conclusion
alpha = 0.05
if p_value < alpha:
    print('We have sufficient evidence to reject null hypothesis.')
else:
    print('We fail to reject null hypothesis')

We fail to reject null hypothesis

---
---
**3. A military aircraft manufacturing company after multiple trials claims that their new fighter aircraft has a minimum takeoff ditance of 800 meters with a standard deviation of 20 meters. The military decides to test the minimum takeoff distance and conducts 20 takeoff trials. Based on the data given below test whether the minimum takeoff distance is not more than 800 meters.**

In [24]:
sample = [784, 810, 801, 801, 806, 856, 800, 813, 802, 796, 771, 802, 799,
          852, 856, 788, 811, 785, 817, 795]

**H0 :** The average takeoff distance is 800. <br>
**H1 :** The average takeoff distance is more than 800.

In [25]:
sample = np.array(sample)

In [26]:
# write your code here
# Write your code
pop_mean1=800
pop_std1=20
sample_size1=len(sample)
sample_mean1=sample.mean()
print(sample_size1)
print(sample_mean1)

20
807.25

In [27]:
# Calculate z score
z1=z_score(sample_size1,sample_mean1,pop_mean1,pop_std1)
print(z1)

1.6211492836873473

In [28]:
# upper tailed test
# calculating p value
p_value=1-norm.cdf(z1)
p_value

0.05249281327284039

In [29]:
# Conclusion
alpha = 0.05
if p_value < alpha/2:
    print('We have sufficient evidence to reject null hypothesis.')
else:
    print('We fail to reject null hypothesis')

We fail to reject null hypothesis

---
---
**4. A Company claims that the average rating recieved by their product is 4.2 out of 5 with a standard deviation 0f 0.7. You doubt the claim and select ratings from 20 online reviews randomly. Based on the ratings given below verify whether the average ratings are less than the claim by the company.**

In [30]:
sample = [5,3,3,4,5,4,3,5,4,3,4,4.5,2,4,3,3,4,5,4,5]

**H0 :** The average rating is 4.2. <br>
**H1 :** The average score is less than 4.2.

In [31]:
# write your code here
sample=np.array(sample)
pop_mean1=4.2
pop_std1=0.7
sample_size1=len(sample)
sample_mean1=sample.mean()
print(sample_size1)
print(sample_mean1)

20
3.875

In [32]:
# Calculate z score
z1=z_score(sample_size1,sample_mean1,pop_mean1,pop_std1)
print(z1)

-2.076348836249806

In [33]:
# calculating p value
p_value=norm.cdf(z1)
p_value

0.018930849801457632

In [34]:
# Conclusion
alpha = 0.05
if p_value < alpha:
    print('We have sufficient evidence to reject null hypothesis.')
else:
    print('We fail to reject null hypothesis')

We have sufficient evidence to reject null hypothesis.

---
---
**5. A salt producer uses a machine to fill the bags with salt and each bag has to be 1 kg each with a standard deviation of 0.003 kg. A randomly selected sample of 50 bags resulted in a mean of 1.01 kg.
Perform the suitable test and verify if the machine needs to be recalibrated.**

**H0 :** The weight is 1kg. <br>
**H1 :** The weight is not 1 kg.

In [39]:
# calculate sample mean and sample size
pop_mean1=1
pop_std1=0.003
sample_size1=50
sample_mean1=1.01

23.570226039551606

In [38]:
# Calculate z score
z1=z_score(sample_size1,sample_mean1,pop_mean1,pop_std1)
print(z1)

23.570226039551606

In [40]:
# calculating p value
p_value=norm.cdf(z1)
p_value

1.0

In [41]:
# Conclusion
alpha = 0.05
if p_value < alpha/2:
    print('We have sufficient evidence to reject null hypothesis.')
else:
    print('We fail to reject null hypothesis')

We fail to reject null hypothesis

# End