<a href="https://colab.research.google.com/github/Pranav210905/Inferial-Stastics/blob/main/Z_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from scipy.stats import norm

Right Tail Test

In [ ]:
def z_score(sample_size,pop_mean,pop_std,sample_mean):
  sample_std=pop_std/(sample_size**0.5)
  z=(sample_mean-pop_mean)/sample_std
  return z

A sports analyst claims that Virat Kohli's average score in IPL matches is 40. and standard devation 9. You collect data from 50 matches and calculate an average less than 40. Can you reject the analyst’s claim?

In [ ]:
sample=[41,16,57,7,33,35,36,33,43,39,38,41,39,44,39,38,36,43,40,39,32,40,19,36,34,33,40,89,39,36,34,34,44,43,44,41,37,40,36,68,5,37,36,34,32,40,33,34,44]

H0:The average score is 40

H1:The average score is less than 40

In [ ]:
sample=np.array(sample)

In [ ]:
pop_mean=40
pop_std=9
sample_size=len(sample)
sample_mean=sample.mean()
k=z_score(sample_size,pop_mean,pop_std,sample_mean)
print("The value of z score" ,k)
print(sample_mean)

The value of z score -1.7301587301587291
37.775510204081634

In [ ]:
p=norm.cdf(k)
print(p)

0.041800959778876885

In [ ]:
alpha=0.05
if(p<alpha):
  print("Null Hypothesis  is rejected")
else:
  print("Null Hypothesis is not rejected")

Null Hypothesis  is rejected

Left tail test

A sports analyst claims that Virat Kohli's average score in IPL matches is 40. and standard devation 9. You doubt and collect data from 50 matches and calculate an average more than 40. Can you reject the analyst’s claim?

H0:The average score is 40

H1:The average score is more than 40

In [ ]:
sample1=[41,16,57,7,33,35,76,33,43,39,38,41,39,44,39,38,36,43,40,39,92,40,19,36,59,33,40,89,39,36,34,34,44,43,44,11,87,40,36,68,5,37,106,34,32,40,33,34,44]

In [ ]:
sample1=np.array(sample1)

In [ ]:
pop_mean=40
pop_std=9
sample_size=len(sample1)
sample_mean=sample1.mean()
k=z_score(sample_size,pop_mean,pop_std,sample_mean)
print("The value of z score" ,k)
print(sample_mean)

The value of z score 1.6825396825396812
42.16326530612245

In [ ]:
c=norm.cdf(k)
p=1-c

In [ ]:
alpha=0.05
if(p<alpha):
  print("Null Hypothesis  is rejected")
else:
  print("Null Hypothesis is not rejected")

Null Hypothesis  is rejected

A sports analyst claims that Virat Kohli's average score in IPL matches is 40. and standard devation 9. You doubt and collect data from 50 matches and calculate an average is not equal to 40. Can you reject the analyst’s claim?

H0:The average score is 40

H1:The average score is not equal to 40

Left and right tail test

In [ ]:
sample2=[41,16,57,7,33,35,36,33,43,39,38,41,39,44,39,6,36,43,40,39,32,40,59,36,34,33,40,89,39,36,34,34,44,43,44,41,37,40,36,68,45,37,36,34,32,40,33,34,44]

In [ ]:
sample2=np.array(sample2)

In [ ]:
pop_mean2=40
pop_std2=9
sample_size2=len(sample2)
sample_mean2=sample2.mean()
w=z_score(sample_size2,pop_mean2,pop_std2,sample_mean2)
print("The value of z score" ,w)
print(sample_mean2)

The value of z score -0.968253968253969
38.755102040816325

In [ ]:
p=norm.cdf(w)
print(p)

0.1664587739475195

In [ ]:
alpha=0.05/2
if p<alpha:
  print("Reject Null hypothesis")
else:
  print("Not reject the null hypothesis")

Not reject the null hypothesis

You have developed a nlp model on a range of scale (1-5).You claim that average rating is 4 How do you prove your client (Assuming that standarad devation is 0.5)

H0:that the avearge rating is 4

H1:that the average rating greater than 4

In [ ]:
l=[5,3,3,4,5,4,3,5,4,3,4,4.5,2,4,3,3,4,4,5]
o=np.array(l)
nlp_pop_mean=4
nlp_pop_std=0.5
nlp_sample_size=len(o)
nlp_sample_mean=o.mean()
u=z_score(nlp_sample_size,nlp_pop_mean,nlp_pop_std,nlp_sample_mean)
print("The sample mean is",nlp_sample_mean)
print(u)

The sample mean is 3.8157894736842106
-1.6059101370939317

In [ ]:
r=norm.cdf(u)
r

0.05414682794950457

In [ ]:
alpha=0.05
if r<alpha:
  print("The Null hypothesis rejected by evidence")
else:
  print("Not rejected")

Not rejected